## _Movie Recommender System_

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import nltk

In [2]:
movies = pd.read_csv('top10K-TMDB-movies.csv')
movies.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [3]:
movies = movies.drop(columns = ['popularity', 'release_date', 'vote_average', 'vote_count'])

In [6]:
movies.isnull().sum()

id                   0
title                0
genre                0
original_language    0
overview             0
dtype: int64

In [5]:
movies.dropna(inplace = True)

In [7]:
movies.duplicated().sum()

0

In [8]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())
movies.head()

,id,title,genre,original_language,overview
0,278,The Shawshank Redemption,"Drama,Crime",en,"[Framed, in, the, 1940s, for, the, double, mur..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"[Raj, is, a, rich,, carefree,, happy-go-lucky,..."
2,238,The Godfather,"Drama,Crime",en,"[Spanning, the, years, 1945, to, 1955,, a, chr..."
3,424,Schindler's List,"Drama,History,War",en,"[The, true, story, of, how, businessman, Oskar..."
4,240,The Godfather: Part II,"Drama,Crime",en,"[In, the, continuing, saga, of, the, Corleone,..."

In [9]:
movies['genre'] = movies['genre'].apply(lambda x: x.split())
movies.head()

,id,title,genre,original_language,overview
0,278,The Shawshank Redemption,"[Drama,Crime]",en,"[Framed, in, the, 1940s, for, the, double, mur..."
1,19404,Dilwale Dulhania Le Jayenge,"[Comedy,Drama,Romance]",hi,"[Raj, is, a, rich,, carefree,, happy-go-lucky,..."
2,238,The Godfather,"[Drama,Crime]",en,"[Spanning, the, years, 1945, to, 1955,, a, chr..."
3,424,Schindler's List,"[Drama,History,War]",en,"[The, true, story, of, how, businessman, Oskar..."
4,240,The Godfather: Part II,"[Drama,Crime]",en,"[In, the, continuing, saga, of, the, Corleone,..."

In [10]:
movies['tags'] = movies['overview'] + movies['genre']
movies.head()

,id,title,genre,original_language,overview,tags
0,278,The Shawshank Redemption,"[Drama,Crime]",en,"[Framed, in, the, 1940s, for, the, double, mur...","[Framed, in, the, 1940s, for, the, double, mur..."
1,19404,Dilwale Dulhania Le Jayenge,"[Comedy,Drama,Romance]",hi,"[Raj, is, a, rich,, carefree,, happy-go-lucky,...","[Raj, is, a, rich,, carefree,, happy-go-lucky,..."
2,238,The Godfather,"[Drama,Crime]",en,"[Spanning, the, years, 1945, to, 1955,, a, chr...","[Spanning, the, years, 1945, to, 1955,, a, chr..."
3,424,Schindler's List,"[Drama,History,War]",en,"[The, true, story, of, how, businessman, Oskar...","[The, true, story, of, how, businessman, Oskar..."
4,240,The Godfather: Part II,"[Drama,Crime]",en,"[In, the, continuing, saga, of, the, Corleone,...","[In, the, continuing, saga, of, the, Corleone,..."

In [11]:
new_df = movies[['id', 'title', 'tags']]
new_df.head()

,id,title,tags
0,278,The Shawshank Redemption,"[Framed, in, the, 1940s, for, the, double, mur..."
1,19404,Dilwale Dulhania Le Jayenge,"[Raj, is, a, rich,, carefree,, happy-go-lucky,..."
2,238,The Godfather,"[Spanning, the, years, 1945, to, 1955,, a, chr..."
3,424,Schindler's List,"[The, true, story, of, how, businessman, Oskar..."
4,240,The Godfather: Part II,"[In, the, continuing, saga, of, the, Corleone,..."

In [12]:
new_df['tags'] = new_df['tags'].apply(lambda x: ' '.join(x))
new_df.head()

C:\Users\Athul Krishna S\AppData\Local\Temp\ipykernel_19904\2499104567.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: ' '.join(x))

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...

In [13]:
new_df.iloc[0]['tags']

'Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope. Drama,Crime'

In [14]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())
new_df.head()

C:\Users\Athul Krishna S\AppData\Local\Temp\ipykernel_19904\883946691.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

,id,title,tags
0,278,The Shawshank Redemption,framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,the true story of how businessman oskar schind...
4,240,The Godfather: Part II,in the continuing saga of the corleone crime f...

In [15]:
new_df.iloc[0]['tags']

'framed in the 1940s for the double murder of his wife and her lover, upstanding banker andy dufresne begins a new life at the shawshank prison, where he puts his accounting skills to work for an amoral warden. during his long stretch in prison, dufresne comes to be admired by the other inmates -- including an older prisoner named red -- for his integrity and unquenchable sense of hope. drama,crime'

In [16]:
from nltk.stem import PorterStemmer

In [18]:
ps = PorterStemmer()

In [19]:
def stems(text):
    l = []
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

In [20]:
new_df['tags'] = new_df['tags'].apply(stems)

C:\Users\Athul Krishna S\AppData\Local\Temp\ipykernel_19904\3973021881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stems)

In [21]:
new_df.iloc[0]['tags']

'frame in the 1940 for the doubl murder of hi wife and her lover, upstand banker andi dufresn begin a new life at the shawshank prison, where he put hi account skill to work for an amor warden. dure hi long stretch in prison, dufresn come to be admir by the other inmat -- includ an older prison name red -- for hi integr and unquench sens of hope. drama,crim'

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [24]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [26]:
vector.shape

(9985, 5000)

In [27]:
from sklearn.metrics.pairwise import cosine_similarity

In [28]:
similarity = cosine_similarity(vector)

In [29]:
similarity

array([[1.        , 0.22371869, 0.25302404, ..., 0.07776158, 0.27777778,
        0.17407766],
       [0.22371869, 1.        , 0.166731  , ..., 0.02348557, 0.16778901,
        0.07009996],
       [0.25302404, 0.166731  , 1.        , ..., 0.04829453, 0.20701967,
        0.1081125 ],
       ...,
       [0.07776158, 0.02348557, 0.04829453, ..., 1.        , 0.08748178,
        0.03045725],
       [0.27777778, 0.16778901, 0.20701967, ..., 0.08748178, 1.        ,
        0.13055824],
       [0.17407766, 0.07009996, 0.1081125 , ..., 0.03045725, 0.13055824,
        1.        ]])

In [30]:
similarity.shape

(9985, 9985)

In [33]:
new_df[new_df['title'] == 'The Godfather'].index[0] ## to find index

2

In [40]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse = True, key = lambda x: x[1])
    for i in distances[1:11]:
        print(new_df.iloc[i[0]].title)

In [43]:
recommend('The Dark Knight Rises')

The Dark Knight
The Batman
Mercury Rising
Batman: The Dark Knight Returns, Part 1
Batman: Hush
Nighthawks
Batman: The Long Halloween, Part One
Batman: Under the Red Hood
Batman: Mask of the Phantasm
Batman Forever